:root {
    --primary-color:  #003d77;
    --secondary-color: #A4A4A4;
    --tertiary-color: #FFFFFF;
    --outra-color: #024c9e;
    --yellow-color: #f8ca08;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}

.sec1 {
    background-color: var(--primary-color);
    height: 100vh;
    color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.group1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.group11 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.group14{
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.group1 h2 {
    padding: 20px;
}

.group1 a {
    padding: 10px;
    margin: 15px;
    color: var(--yellow-color);
    background-color: var(--outra-color);
    font-size: 18px;
}
.group1 button {
    padding: 10px;
    margin: 15px;
    color: var(--yellow-color);
    background-color: var(--outra-color);
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 570px;
    font-size: 45px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.info p {
    font-size: 36px;
    color: var(--tertiary-color);
}

a {
    text-decoration: none;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    width: 530px;
    height: 550px;
    border: 1px solid;
    color: #000;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.table h2 {
    border-bottom: 2px solid;
    margin: 10px;
    width: 500px;
    color: #3f96e1;
}
.sec2 {
    background-color: var(--primary-color);
    height: 700px;
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

.sec2 h1 {
    padding: 20px;
    margin-top: 30px;
    color: var(--yellow-color);
    font-size: 36px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
    width: 362px;
    height: 300px;
    padding: 20px;
    margin-left: 40px;
    margin: 20px;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-10px); 
}

.card h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.card p {
    font-size: 30px;
    color: var(--secondary-color);
}

.btn {
    font-size: 12px;
    width: 200px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: #000;
}

.sec4 {
    background-color: var(--primary-color);
    height: 80vh;
    color: var(--yellow-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sec4 p {
    margin-top: 20px;
    font-size: 29px;
    width: 570px;
    height: 300px;
    color: #fff;
}
.sec7 {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--outra-color);
    height: 100vh;
    color: var(--yellow-color);
    text-align: justify;
}

.sec7 p {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
}

.img {
    width: 500px;
}

.btn2{
    display: none;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.modal{
    display: none;
}
.main5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--outra-color);
    color: #fff;
    padding: 25px;
}
.funci{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 50px;
}

.funci h1{
    padding: 20px;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}
.cardi{
    padding: 10px;
    border-radius: 30px;
    width: 600px;
    height: 450px;
    border: 1px solid;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.cardi h2{
    padding: 10px;
    margin-bottom: 20px;
}
.siga{
    padding: 15px;
    width: 389px;
    height: 53px;
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 30px;
    margin: 20px;
}
.talk{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.talk h1{
    padding: 25px;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.infoo{
    color: var(--tertiary-color);
    font-size: 12px;
}

.infoo h2{       
    padding: 15px;
    width: 500px;
    height: 60px;
    border: 1px solid var(--tertiary-color);
    border-radius: 30px;
    margin: 20px;


    display: flex;
    align-items: center;
}


@media (max-width: 980px) {
    .sec1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 700px;
    }
    .table{
        width: 300px;
    }
    
    .sec4 {
        flex-direction: column;
        text-align: justify;
        height: 550px;
    }
    .sec4 p{
        margin-bottom: 80px;
        width:280px;
        height: 230px;
        padding: 10px;
        font-size: 20px;
    }

    .group11{
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .group1{
        padding: 5px;
    }

    .info{
        margin: 10px;
        padding: 0;
        width: 95%;
        font-size: 30px;
    }
    .info p{
        font-size: 30px;
        width: 80%;
    }
    .table{
        width: 70%;
        height: 280px;
    }
    .table h2{
        width: 70%;
    }
    .img{
        display: none;
    }
    .sec2 {
        text-align: center;
        padding: 20px;
        overflow-y: scroll;
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .card {
        flex: 0 0 300px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin:10px;
        width: 300px;
        height: 330px;
    }
    .card:hover{
        transform: none;
    }
    .card h2 {
        margin-top: 0;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .btn {
        width: 120px;
        height: 40px;
    }
    .btn2 {
        width: 120px;
        height: 40px;
        font-size: 12px;
        border: 1px solid;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color);
        color: #000;
    }
    .table{
        display: none;
    }
    .modal {
        display: none; /* Inicialmente oculto */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7); /* Fundo semi-transparente */
    }
    .table2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        height: 550px;
        border: 1px solid;
        color: #000;
        background-color: var(--tertiary-color);
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .table2 h2 {
        border-bottom: 2px solid;
        margin: 10px;
        width: 380px;
        color: #3f96e1;
    }
    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Estilos para a caixa do modal */
   

    /* Botão para fechar o modal */
    .close {
        cursor: pointer;
        color: #000;
        float: right;
        font-size: 49px;
        font-weight: bold;
    }
    .c{ 
        margin: 10% auto; /* Centraliza verticalmente */
        padding: 20px;
        width: 90%;
        max-width: 400px;
    }
    .main5{
        flex-direction: column;
    }
    .cardi{
        width: 280px;
        height: 300px;
    }
    .infoo h2{
        width: 280px;
    }

    /* Estilos para o link de abrir o modal */
    footer{
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .sec1{
        height: 700px;
    }
    .table{
        display: none;
    }
    .info a {
        padding: 5px;
        margin: 5px;
    }
    .card {
        flex: 0 0 300px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin:10px;
        width: 260px;
        height: 330px;
    }
    .btns{
        display: flex;
        flex-direction: row;
    }
    .funci{
        margin-left: 5px;
    }
    .funci h1{
        padding: 5px;
    }
    .infoo h2{
        width: 350px;
    }

    .cardi{
        width: 230px;
        height: 300px;
    }
}